{% extends "base.html" %}

{% block main %}
		{% if book %}
			{% for b in book %}
				<div class="book-item">

					<div style="background-color:#000; font-size: 20px; color: #fff;">
						{% for a in Book %}
							{{ a.title }}
						{% endfor %}
					</div>

					<h1>
						{{ b['Book']['title'] }}
					</h1>
					<span class="author">
						{{ b['Author']['name'] }}
					</span>
					<div class="info">
						<span>
							Author id: {{ b['Author']['id'] }}. Book id: {{ b['Book']['id'] }}
						</span>
					</div>
				</div>

				<div class="nav">
					{% if b['Book']['id'] > 1 %}
						<div class="prev">
							<a href="/book/{{ b['Book']['id'] - 1 }}/"></a>
						</div>
					{% endif %}

					{% if b['Book']['id'] < books_count %}
						<div class="next">
							<a href="/book/{{ b['Book']['id'] + 1 }}/"></a>
						</div>
					{% endif %}
				</div>
			{% endfor %}

		{% else %}
		  <h1>Holla!</h1>
		{% endif %}
{% endblock main %}