{% extends "base.html" %}

{% set prev_from = page_from - per_page*2 + 1 %}
{% set prev_to = page_from - per_page %}
{% set next_from = page_next - per_page+1 %}
{% set next_to = page_next %}
{% set current_from = prev_to + 1 %}
{% set current_to = next_from - 1 %}

{% block main %}
	<div class="container">
		{% if books %}
			<ul class="books">
			{% for book, author in books %}
					<li>
						<a href="{{ url_for('book_item', id = book.id) }}">
							<h4>{{ book.title|e }}</h4>
							<span>{{ author.name|e }}</span>
							<span><i>Book ID:{{ book.id }}. Author ID: {{ author.id }}</i></span>
						</a>
					</li>
			{% endfor %}
			</ul>
			<div class="pagination">
				<ul>
					{% if page == 2 %}
						<li>
							<a href="{{ url_for('index') }}">&larr; {{ prev_from }}&#133;{{ prev_to}}</a>
						</li>
					{% elif page > 1 %}
						<li>
							<a href="{{ url_for('index', page = page - 1) }}">&larr; {{ prev_from }}&#133;{{ prev_to }}</a>
						</li>
					{% endif %}
					<li>
						<span>{{ current_from }}&#133;{{ current_to }}</span>
					</li>
					{% if page < books_limit %}
						<li>
							<a href="{{ url_for('index', page = page + 1) }}">{{ next_from }}&#133;{{ next_to }} &rarr;</a>
						</li>
					{% endif %}
				</ul>
			<div>
		{% else %}
			<div class="books-empty">
				<article>
					<h1>No books :(</h1>
					<p>Your library is empty. Please signup and add first!</p>
				</article>
			</div>
		{% endif %}
	</div>
{% endblock main %}