<div class="container">
	<div class="half top">
		<div class="caption">
			<a href="{{ url_for('index') }}" class="logo">The Library</a>
			<p>List of {{ books_count }} greatest books of all time</p>
		</div>
	</div>
	<div class="half">
		<div class="account">
			<a class="signin" href="/signin">Sign in</a>
		</div>
		<div class="search">
			<form action="{{ url_for('search') }}" method="post">
				{{ search_form.hidden_tag() }}
				{# {{ search_form.search.label }} #}
				{{ search_form.search(placeholder="Search by Book title or Author name") }}
				{# {{ search_form.search_by.label }} #}
				{{ search_form.search_by }}

				{% for message in search_form.search.errors %}
				<div class="message">{{ message }}</div>
				{% endfor %}
				{{ search_form.submit }}
			</form>
		</div>
	</div>
</div>